<html>
	<head>
		<title> TipCalc </title>
	</head>
	
<body>
	<h1> Tip Calc Input </h1>
	<form action = "/" method="POST">
		Bill total?      <input type="text" name="bill"><br/>
		Tip Percent?    <input type="text" name ="tip"><br/>
		Number of People? <input type="text" name="numofppl"><br/>
		<input type="submit">
	</form>
</body>
</html>




	</html>
